body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    background-color: #f2f2f3;
    color: #212529;
}
h1{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-family: "Verdana";
}
a{
    color: #bfbfbf;
    text-decoration: none;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 60px;
    height: 60px;
    background: #ede7f6;
}
main{
    margin-top: 15px;
}
footer{
    padding: 15px 0;
    margin-top: auto;
    width: 100%;
    font-weight: 600;
    background: #1c1c1c;
    color: #bfbfbf;
}
input{
    width: 50px;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    background: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 12px 16px;
}
.telegram{
    grid-row: 1/2;
    grid-column: 2/2;
    max-height: 45px;
    text-align: center;
}
.grid_footer{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 100px;
    font-size: 12px;
    font-family: Verdana;
}
.input_field{
    margin: 2.5px 0;
}
.grid_function{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1fr);
    font-size: 14px;
    font-family: Verdana;
}
.button_sum{
    padding: 16.5px;
}
.button_sum button{
    width: 137px;
    height: 33.9px;
}